.principal
{
    width: 80vw;
    margin-left: 10vw;
    margin-bottom:50vh;
}

 
label{
    margin-right:2vw;
}
.estilo {
    width: 800px;
  
}
 .estilo input [type="file"]::file-selector-button{
    /*width: 400px;
    height: 30px;
    border-radius: 20px 20px;
    border-color: aqua;*/
    background-color: red;  
}
.btn{
    width: 100px;
    height: 40px;
    border-radius: 10px 10px;
}
h2{
    color: #FF8C00;
    margin-left:22vw;
    font-size: 15pt;
   
}

