.viajar{
    background-color: #ffff;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80vw;
    margin-left: 15vw;
}
.tabela {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    width: 70vw;
}

.tabela thead tr th{
    background-color:aqua;
    color: black;
    font-weight: bold;
    text-align: left;
}
.tabela th, .tabela td{
    padding: 12px 10px;
}
.tabela tbody tr{
    border-bottom: 1px solid #dddddd;
}
.tabela tbody tr:nth-last-of-type(even){
    background-color: #f3f3f3;
}

h3{
    margin-left:30vw;
    color:#FF8C00 ;
}