.principal{
    width: 100vw;  
   /* background-image:url("../imagem/testeBack.png");*/
}

.slide_show{
    background-image: url("../imagem/teste.jpeg");
    height:20px;
    background-repeat: no-repeat;
    background-size:100vw 350px;
   animation: animate 20s infinite;
}
.teste{
    width: 100vw;
    height: 50vh;
}

@keyframes animate{
    20%{
        background-image: url("../imagem/macom 2.jpeg");
        background-size:100vw 350px;
    }
    40%{
        background-image: url("../imagem/macom 4.jpeg");
        background-size:100vw 350px;
    }
    60%{
        background-image: url("../imagem/macom 4.jpeg");
        background-size:100vw 350px;
    }
    80%{
        background-image: url("../imagem/macom 5.jpeg");
        background-size:100vw 320px;
    }
    100%{
        background-image: url("../imagem/macom 6.jpeg");
        background-size:100vw 350px;
    }
}
/* mexendo na classe flex flex 1 e flex 2*/

.flex{
    display: flex;
    padding:2vw;
}
.flex1{
    width:28vw;
    height: 55vh;
    margin-left:2vw;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.9);
}

.flex2{
    width:28vw;
    height: 55vh;
    margin-left:4vw;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.9);
}
.flex3{
    width:28vw;
    height: 55vh;
    margin-left:4vw;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.9);
}

.IconTitulo{
    width:28vw;
    height:200px;
}

.corpo{
   width: 28vw;
   height:185px;
   background-color:#FF8C00;
   position: relative;
   margin-top:-3px;
}

.flex1 .flex2 .flex3, img{
    width:27.555vw;
    height:28vh;
    border-style: inset;
    border-color: #FF8C00;
}
.paragrafo{
    font-size:15pt;
    text-align: center;
    color: #fff;
}

.viagem{
    width: 100vw;
    height: 65vh;
    margin-bottom: 22px;
}

.tabela {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    width: 70vw;
    margin-left: 15vw;
}

.tabela thead tr th{
    background-color:#FF8C00;
    color: black;
    font-weight: bold;
    text-align: left;
}
.tabela th, .tabela td{
    padding: 12px 10px;
}
.tabela tbody tr{
    border-bottom: 1px solid #FF8C00;
}
.tabela tbody tr:nth-last-of-type(even){
    background-color: #f3f3f3;
}
.paragrafoViagem{
    color:#FF8C00 ;
    font-size:18pt;
    text-align: center;
}

