.Recuperar{
    width: 95vw;
    
}

.pesquisa{
    width:40vw;
    height: 4vh;
    margin-left: 25vw;
}
.pesquisar input{
    border-radius: 10px 15px 10px 15px;
    border-color:#1E90FF;
}
.pesquisar input::placeholder{
    text-align: center;
}
.botao{
    width: 100px;
    height: 30px;
    margin-top: 3vh;
    margin-left: 20px;
    border-radius: 10px;
    border-color: #1E90FF;
    background-color:#fff;
}
.tabela {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    width: 70vw;
    margin-left:10vw;
    margin-bottom:27vh;
}
.tabela thead tr th{
    background-color:#FF8C00;
    color: black;
    font-weight: bold;
    text-align: left;
}
.tabela th, .tabela td{
    padding: 12px 10px;
}
.tabela tbody tr{
    border-bottom: 1px solid #FF8C00 ;
}
.tabela tbody tr:nth-last-of-type(even){
    background-color: #f3f3f3;
}